src/main/resources/generic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/"
                  xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.openuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.openuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:asy="http://www.accenture.com/assets/sdp/commonDataModel/asynch">
            <s:import
                namespace="http://www.accenture.com/assets/sdp/commonDataModel/asynch" />
            <s:element name="incomingRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="asy:TSO_DATA" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="applicationResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="asy:TSO_DATA" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>

        <xs:schema
            targetNamespace="http://www.accenture.com/assets/sdp/commonDataModel/asynch"
            elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.accenture.com/assets/sdp/commonDataModel/asynch">
            <xs:element name="TSO_DATA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="TSOheader" />
                        <xs:element ref="TSOattributes" minOccurs="0" />
                        <xs:element ref="TSOresult" minOccurs="0" />
                        <xs:element name="DELIVERY_CONTENT" type="xs:string"
                                    minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TSOattributes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element ref="list" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TSOheader">
                <xs:complexType>
                    <xs:attribute name="TSOID" type="xs:string" use="required" />
                    <xs:attribute name="TSOlabel" type="xs:string" use="required" />
                    <xs:attribute name="destinationSystemId" type="xs:string" />
                    <xs:attribute name="destinationSystemPassword" type="xs:string" />
                    <xs:attribute name="inconcertTaskId" type="xs:string" />
                    <xs:attribute name="numberOfAttributes" type="xs:string" />
                    <xs:attribute name="sequenceId" type="xs:string" />
                    <xs:attribute name="continueOnFail" type="xs:string" />
                    <xs:attribute name="rollbackOnError" type="xs:string" />
                    <xs:attribute name="actionReason" type="xs:string" />
                    <xs:attribute name="submitTSO" type="xs:string" />
                    <xs:attribute name="orderId" type="xs:string" />
                    <xs:attribute name="MSISDN" type="xs:string" />
                    <xs:attribute name="IMSI" type="xs:string" />
                    <xs:attribute name="priority" type="xs:int" />
                </xs:complexType>
            </xs:element>
            <xs:element name="TSOresult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="statusCode" />
                        <xs:element ref="errorCode" minOccurs="0" />
                        <xs:element ref="errorDescription" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attribute">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="errorCode" type="xs:string" />
            <xs:element name="errorDescription" type="xs:string" />
            <xs:element name="list">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element ref="list" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="value" type="xs:string" />
                </xs:complexType>
            </xs:element>
            <xs:element name="statusCode" type="xs:string" />
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="incomingRequestSoapIn">
        <wsdl:part name="parameters" element="s0:incomingRequest" />
    </wsdl:message>
    <wsdl:message name="applicationResponseSoapOut">
        <wsdl:part name="parameters" element="s0:applicationResponse" />
    </wsdl:message>
    <wsdl:portType name="BS_GENERICPROCESSSoap">
        <wsdl:operation name="invoke">
            <wsdl:input message="s0:incomingRequestSoapIn" />
            <wsdl:output message="s0:applicationResponseSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BS_GENERICPROCESSSoap" type="s0:BS_GENERICPROCESSSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document" />
        <wsdl:operation name="invoke">
            <soap:operation soapAction="http://www.openuri.org/invoke"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BS_GENERICPROCESS">
        <wsdl:port name="BS_GENERICPROCESSSoap" binding="s0:BS_GENERICPROCESSSoap">
            <soap:address
                location="http://localhost:7001/somepath" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
